<hr>
<p>*** Client-Form ***</p>
<div class="all4divs client-form">
    <form>
      <table>
          <tr rowspan="2">
            <th><h2>Add a Client</h2></th>
          </tr>
          <tr>
            <td><label>Company Name</label></td>
            <td><input type="text" id="companyName" placeholder="Enter Company Name" value=""></td>
          </tr>
          <tr>
            <td><label>First Name</label></td>
            <td><input type="text" id="firstName" placeholder="Enter First Name" value=""></td>
          </tr>
          <tr>
            <td><label>Last Name</label></td>
            <td><input type="email" id="lastName" placeholder="Enter Last Name" value=""></td>
          </tr>
          <tr>
            <td><label>Phone Number</label></td>
            <td><input type="number" id="phoneNumber" placeholder="Enter contact details" value=""></td>
          </tr>
          <tr>
            <td><label>Email Address</label></td>
            <td><input type="email" id="emailAddress" placeholder="Enter Email" value=""></td>
          </tr>
          <tr>
            <td><button type="button" class="button-submit" onclick="putToClientList()" value="Submit">Submit</button></td>
            <td><button type="reset" class="button-clear" value="Clear">Clear</button></td>
          </tr>
        </table>
      </form>
  </div>
